<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Admin console</title>
    <link rel="stylesheet" th:href="@{/admin.css}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.8.0/chart.min.js"></script>
    <script type="text/javascript" th:src="@{/stomp.js}"></script>
    <script type="text/javascript" th:src="@{/app.js}"></script>
    <script th:inline="javascript">

        var _labels = [[${labels}]];
        var _values = [[${values}]];

        var data = {
            datasets: [{
                data: _values,
                backgroundColor: [
                    'rgba(255, 99, 132, 1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgb(98,206,40)',
                    'rgb(231,178,67)',
                    'rgb(238,98,198)',
                    'rgb(98,238,201)',
                    'rgb(161,98,238)',
                    'rgb(98,117,238)',
                ]
            }],
            labels: _labels,
        }

        connect();
    </script>
</head>
<body>
<div id="main-content">

    <div th:if="${votingSession == null}">
        <p>Brak otwartej sesji, utwórz jakąś!</p>
        <div>
            <h3>Pytania</h3>
            <div th:each="question: ${questions}">
                <div>
                    <span>Id:</span>
                    <span th:text="${question.id}"></span>
                    <span th:text="${question.content}"></span>
                    <div>
                        <div th:each="answer: ${question.availableAnswers}">
                            <span th:text="${answer.content}"></span>
                            <span th:if="${answer.isCorrect == true}">✓</span>
                            <span th:if="${answer.isCorrect == false}">✗</span>
                        </div>
                    </div>
                </div>
                <form method="POST" th:action="@{/sessions}">
                    <button type="submit" th:name="questionId"
                            th:value="${question.id}">
                        Utwórz
                    </button>
                </form>
            </div>
        </div>
    </div>
    <div th:if="${votingSession != null}">
        <div>
            <span>Id:</span>
            <span th:text="${votingSession.id} ?: 'Nie ustawione'"></span>
        </div>
        <div>
            <span>Data rozpoczęcia:</span>
            <span th:text="${votingSession.startDate} ?: 'Nie ustawione'"></span>
        </div>
        <div>
            <span>Data zakończenia:</span>
            <span th:text="${votingSession.endDate} ?: 'Nie ustawione'"></span>
        </div>
        <div>
            <span>Aktualna liczba głosów:</span>
            <span id="voteCount" th:text="${votingSession.voteCount} ?: 'Nie ustawione'"></span>
        </div>
        <div>
            <span>Aktualny stan sesji:</span>
            <span th:text="${votingSession.sessionState} ?: 'Nie ustawione'"></span>
        </div>
        <div th:if="${votingSession.question != null} ?: 'Brak ustawionego pytania'"
             th:with="question=${votingSession.question}">
            <div>
                <span>ID pytania:</span>
                <span th:text="${question.id} ?: 'Nie ustawione'"></span>
                <span th:text="${question.content} ?: 'Nie ustawione'"></span>
            </div>
            <div th:each="answer : ${question.answers}">
                <div>
                    <span>ID odpowiedzi:</span>
                    <span th:text="${answer.id} ?: 'Nie ustawione'"></span>
                    <span th:text="${answer.content} ?: 'Nie ustawione'"></span>
                </div>
            </div>
        </div>
        <div>
            <div th:if="${votingSession.sessionState == T(com.mherda.livequiz.session.SessionState).CLOSED}">
                <form method="POST" th:action="@{/sessions/{path}/status(path=${votingSession.id})}">
                    <button type="submit" th:name="sessionState"
                            th:value="${T(com.mherda.livequiz.session.SessionState).OPEN}">Otwórz sesję
                    </button>
                </form>
            </div>
            <div th:if="${votingSession.sessionState == T(com.mherda.livequiz.session.SessionState).OPEN}">
                <form method="POST" th:action="@{/sessions/{path}/status(path=${votingSession.id})}">
                    <button type="submit" th:name="sessionState"
                            th:value="${T(com.mherda.livequiz.session.SessionState).FINISHED_RESULTS}">Zamknij sesję
                    </button>
                </form>
            </div>
            <div th:if="${votingSession.sessionState == T(com.mherda.livequiz.session.SessionState).FINISHED_RESULTS}">
                <form method="POST" th:action="@{/sessions/{path}/status(path=${votingSession.id})}">
                    <button type="submit" th:name="sessionState"
                            th:value="${T(com.mherda.livequiz.session.SessionState).FINISHED_CLOSED}">Archiwizuj sesję
                    </button>
                </form>
            </div>
        </div>
        <div class="canvas-style">
            <canvas id="myChart" width="300" height="300"></canvas>
            <script>
                const ctx = document.getElementById('myChart').getContext('2d');
                const config = {
                    type: 'pie',
                    data: data,
                    options: {
                        responsive: true,
                        plugins: {
                            legend: {
                                position: 'top',
                            },
                            title: {
                                display: true,
                                text: 'Votes'
                            }
                        }
                    },
                };
                const myChart = new Chart(ctx, config);
            </script>
        </div>
    </div>

</div>

</body>
</html>